[Unit]
Description=Aleo Prover
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/aleo-boot
ExecStart=cpulimit -P /root/aleo-boot/aleo.sh --limit 85
Restart=always
EnvironmentFile=/root/aleo-boot/private-key

[Install]
WantedBy=multi-user.target
