[Unit]
Description=Aleo Prover
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/aleo-boot
ExecStart=/root/aleo-boot/snarkos start --nodisplay --prover
Restart=always
EnvironmentFile=/root/aleo-boot/private-key

[Install]
WantedBy=multi-user.target
